.logo {
    user-select: none;
    font-family: Montserrat;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    color: black;
}

.logo.large {
    font-size: 10vh;
}

.logo.medium {
    font-size: 7vh;
}

.logo.small {
    font-size: 5vh;
}

.logo-e {
    color: #6EBE45;
}

.logo-s {
    color: #558EE0;
}

@media screen and (max-width: 768px) {
    .logo.large {}

    .logo.medium {}

    .logo.small {
        font-size: 4rem;
    }
}