.sidebar {
  display: flex;
  flex-direction: row;
}

.left-bar-small {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3vw;
  height: 100vh;
  background-color: #6EBE45;
}

.help-sidebar {
  width: 50%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  border-radius: 100%;
  background: url("") no-repeat lightgray;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.user-sidebar {
  width: 80%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  border-radius: 100%;
  background: url("") no-repeat lightgray;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

.left-bar-big {
  float: left;
  width: 15vw;
  height: 100vh;
  z-index: 10;
  background-color: #F8F8F8;
  box-shadow: 0px 0px 0px 2px rgba(220, 220, 220);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
}

.sidebar-links ul {
  list-style-type: none;
  padding: 0 0 1vh 0;
  margin-left: 1vw;
}

.sidebar-links li {
  margin-left: 0.5vw;
}

.sidebar-links ul li {
  padding: 2px 0;
}

.sidebar-links p {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.4vw;
  color: #6EBE45;
  font-family: Montserrat;
  font-weight: bolder;
  word-wrap: break-word
}

.icon-text {
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  margin-bottom: 0.5rem;
}

.icon-text span {
  font-family: Montserrat;
  font-weight: bolder;
  padding-left: 0.2rem;
}

.icon-text a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.icon-text i {
  padding-right: 0.5vw;
}

.hidden {
  width: 0;
  visibility: hidden;
  transition: width 0.5s, opacity 0.5s, visibility 0.5s ease-out;
}

.visible {
  width: 15vw;
  visibility: visible;
  transition: width 0.5s, opacity 0.5s, visibility 0.5s ease-out;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
  }

  .left-bar-small {
    width: 10vw;
  }

  .left-bar-big.visible {
    width: calc(100vw - 10vw);
  }

  .sidebar-links p {
    font-size: 2rem;
  }

  .icon-text {
    font-size: 1.5rem;
  }

  .icon-text span {
    font-family: Montserrat;
    font-weight: bolder;
  }

  .sidebar-links ul {
    margin-left: 0.5rem;
  }

  .sidebar-links li {
    margin-left: 1rem;
  }
}