.forum-page {
  display: flex;
  flex-direction: row;
}

.forum-content {
  display: flex;
  flex-direction: column;
  float: right;
}

.forum-content {
  flex-grow: 1;
}

.forum-elements {
  margin: 0;
  padding: 0;
  text-align: left;
  overflow-y: scroll;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .forum-content {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 10vw;
    max-width: 90vw;
  }
}